#page { height: 512px; }
#page .page_con { height: 512px; width: 1260px; margin: 0 auto; background: ; }
#page .page_con .top_con { height: 24px; padding: 8px 0px; border-bottom: 1px solid #f5f5f5; border-top: 1px solid #f5f5f5; }
#page .page_con .top_con ul li { float: left; height: 24px; line-height: 24px; color: #777; font-size: 12px; text-align: center; margin-right: 10px; }
#page .page_con .top_con ul li a { display: block; height: 24px; line-height: 24px; color: #777; font-size: 12px; text-align: center; }
#page .page_con .top_con ul li a:hover { color: #AA0000; }
#page .page_con .bot_con { height: 418px; background: ; margin-top: 12px; padding: 20px 0px; }
#page .page_con .bot_con .l { float: left; width: 94px; height: 400px; position: relative; padding-top: 8px; overflow: hidden; margin-top: -8px; background: ; }
#page .page_con .bot_con .l img { width: 94px; }
#page .page_con .bot_con .c1 { float: left; width: 380px; height: 380px; border: 1px solid #ccc; margin-left: 20px; background: ; margin-right: 14px; position: relative; }
#page .page_con .bot_con .c1 .small-img { height: 380px; width: 380px; position: absolute; left: 0; top: 0; }
#page .page_con .bot_con .c1 .small-img img { height: 380px; width: 380px; position: relative; }
#page .page_con .bot_con .c1 .small-img #mask { width: 186px; height: 186px; background: grey; border: 2px solid #ccc; opacity: 0.3; position: absolute; top: 0; left: 0; cursor: move; display: none; }
#page .page_con .bot_con .c1 .big-img { position: absolute; top: 0; left: 400px; height: 400px; width: 400px; overflow: hidden; display: none; }
#page .page_con .bot_con .c1 .big-img img { height: 800px; width: 800px; position: absolute; top: 0; left: 0; }
#page .page_con .bot_con .c2 { float: left; width: 440px; height: 314px; margin-right: 46px; background: ; }
#page .page_con .bot_con .c2 p { height: 32px; width: 100%; line-height: 16px; font-size: 16px; color: #000000; font-weight: 900; border-bottom: 1px dashed #000; }
#page .page_con .bot_con .c2 h2 { height: 30px; padding-left: 6px; line-height: 30px; color: #333; font-size: 12px; }
#page .page_con .bot_con .c2 h2 span { font-size: 8px; }
#page .page_con .bot_con .c2 h3 { height: 46px; line-height: 46px; font-size: 12px; color: #000; background: #f3f3f3; padding-left: 6px; }
#page .page_con .bot_con .c2 h3 i { font-size: 14px; color: #CC1111; font-weight: 900; }
#page .page_con .bot_con .c2 input { height: 30px; width: 92px; background:palegreen ; color: #fff; line-height: 30px; text-align: center; border: 0; margin-top: 50px; margin-left: 20px; }
#page .page_con .bot_con .r { width: 244px; height: 340px; float: left; background: ; }
#page .page_con .bot_con .r .r-t { height: 264px; width: 198px; border: 1px solid #ccc; margin: 0 auto; }
#page .page_con .bot_con .r .r-t p { height: 46px; line-height: 46px; text-align: center; font-size: 14px; color: #333; }
#page .page_con .bot_con .r .r-t img { display: block; margin: 0 auto; }
#page .page_con .bot_con .r .r-t h6 { width: 100%; height: 30px; padding-top: 8px; font-size: 12px; color: #333; text-align: center; }
#page .page_con .bot_con .r .r-b { width: 198px; height: 32px; background: #eee; border-radius: 1px; background: #f3f3f3; margin: 15px auto; line-height: 32px; text-align: center; }
#page .page_con .bot_con .r .r-b a { color: #060606; font-size: 12px; margin: auto; }
#page .page_con .bot_con .r .r-b a:hover { color: red; }

/*# sourceMappingURL=page.css.map */
