#page{
    height:512px;
    .page_con{height:512px;width:1260px;margin:0 auto;
            .top_con{height:24px;padding:8px 0px;border-bottom: 1px solid #f5f5f5;border-top: 1px solid #f5f5f5;
                    ul{
                            li{float:left;
                                height:24px;
                                line-height:24px;
                                color:#777;
                                font-size:12px;
                                text-align: center;
                                margin-right:10px;
                                                
                                            a{
                                                display:block;
                                                height:24px;
                                                line-height:24px;
                                                color:#777;
                                                font-size:12px;
                                                text-align: center;
                                                &:hover{
                                                    color:#AA0000;
                                                }
                                            }
                            }
                    }
            }
            .bot_con{height:418px;margin-top:12px;padding:20px 0px;
                    .l{
                        float:left;
                        width:94px;
                        height:400px;
                        position:relative;
                        padding-top: 8px;
                        overflow: hidden;
                        margin-top:-8px;

                        img{
                            width:94px
                        }
                    }
                    .c1{
                        float:left;
                        width:478px;
                        height:400px;
                        margin-left:20px;
                        margin-right:14px;
                        position:relative;
                        .small-img{
                             border:1px solid #ccc;
                            height:380px;
                            width:380px;
                            position: absolute;
                            left:100px;
                            top:0;
                            overflow: hidden;
                            img{
                              height:380px;
                              width:380px;  
                              position:relative;
                            }
                            #mask{
                                width:186px;
                                height:186px;
                                background:grey;
                                border:2px solid #ccc;
                                opacity:0.3;
                                position:absolute;
                                top:0;
                                left:0;
                                cursor:move;
                                display:none;
                            }
                        }
                        .big-img{
                            position:absolute;
                            top:0;
                            left:500px;
                            height:400px;
                            width:400px;
                            overflow: hidden;
                            display:none;
                            img{
                                height:800px;
                                width:800px;
                                position:absolute;
                                top:0;
                                left:0;
                            }
                        }
                    }
                    .c2{
                        float:left;
                        width:440px;
                        height:314px;
                        margin-right: 46px;
                        .updateCount{
                            display:block;
                            height:30px;
                            width:30px;
                            background:#ccc;
                            float:left;
                            font-size:30px;
                            line-height: 30px;
                            text-align: center;
                            color:#555555;
                            cursor:pointer;
                            &:hover{color:#BB0000}
                        }
                        .shop-count{
                            display:block;
                            height: 28px;
                            width:60px;
                            border:1px solid #ccc;
                            float:left;
                            color:#333;
                            line-height:30px;
                            text-align: center;
                        }
                        .addbox{
                            height:40px;
                            margin-top:120px;
                        }
                        p{
                            height:32px;
                            width:100%;
                            line-height: 16px;
                            font-size:16px;
                            color:#000000;
                            font-weight: 900;
                            border-bottom: 1px dashed #000;
                        }
                        h2{
                            height:30px;
                            padding-left:6px;
                            line-height:30px;
                            color:#333;
                            font-size:12px;
                            span{
                                font-size:8px;
                            }
                            }
                        h3{
                            height:46px;
                            line-height:46px;
                            font-size:12px;
                            color:#000;
                            background: #f3f3f3;
                            padding-left:6px;
                            i{
                                font-size:14px;
                                color:#CC1111;
                                font-weight: 900;

                            }
                            span{
                                font-size:14px;
                                color:#333;
                                text-decoration: line-through;
                                margin-left: 10px;
                            }
                        }
                        
                        input{
                            height:30px;
                            width:92px;
                            background:forestgreen;
                            color:#fff;
                            line-height: 30px;
                            text-align: center;
                            border:0;
                            margin-top:50px;
                            cursor: pointer;
                        }
                    }
                    .r{
                        width:244px;
                        height:340px;
                        float:left;

                        .r-t{
                            height:264px;
                            width:198px;
                            border:1px solid #ccc;
                            margin:0 auto;
                            p{
                                height:46px;
                                line-height: 46px;
                                text-align: center;
                                font-size:14px;
                                color:#333;
                            }
                            img{
                                display:block;
                                margin:0 auto;
                            }
                            h6{
                                width:100%;
                                height:30px;
                                padding-top:8px;
                                font-size:12px;
                                color:#333;
                                text-align: center;
                            }
                        }
                        .r-b{
                            width:198px;
                            height:32px;
                            background:#eee;
                            border-radius: 1px;
                            //margin-top:15px;
                            background: #f3f3f3;
                            margin:15px auto;
                            line-height: 32px;
                            text-align: center;
                            a{
                                 color:#060606;
                                 font-size:12px;
                                 margin:auto;
                                 &:hover{color:red}
                                 
                            }
                        }
                    }
            }
    
   }
}
